/*-------------- components -----------------*/
.components{
	display: flex;
	flex-wrap: wrap;
	gap: 15px 10px;
}

.comp-item{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	width: calc(33.33% - 6.66px);
	min-height: 82px;
	border: 1px solid #D6D8DE;
	border-radius: 25px;
	background: #fff;
	padding: 20px;
	position: relative;
	z-index: 1;

	&__text{
		font-size: 1.7rem;
		font-weight: 500;
		line-height: 1.1;
		position: relative;
		z-index: 5;
	}

	&__num{
		font-size: 2.4rem;
		font-weight: 500;
	}

	&__del{
		opacity: 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100%;
		height: 100%;
		padding: 20px;
		position: absolute;
		top: 0;
		left: 0;

		&::before{
			content: '';
			width: 100%;
			height: 100%;
			background: linear-gradient(to right, rgba(255,226,231,1) 0%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 100%);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 25px;
			border: 1px solid #D6D8DE;
			transition: all 0.3s ease 0s;
		}

		.icon{
			fill: var(--color-danger);
			position: relative;
		}
	}

	&:hover &__del{opacity: 1;}

	&:hover &__del::before{
		width: calc(100% + 10px);
		height: calc(100% + 10px);
		background: linear-gradient(to right, rgba(255,226,231,1) 0%, rgba(255,255,255,1) 83%, rgba(255,255,255,1) 100%);
	}
}